[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M


[ndb_mgmd]
NodeId=1
hostname=127.0.0.1
datadir=/var/lib/mysql

[ndbd]
NodeId=2
hostname=ndbd1
datadir=/var/lib/mysql

[ndbd]
NodeId=3
hostname=ndbd2
datadir=/var/lib/mysql

[mysqld]
NodeId=4
hostname=mysqld1

[mysqld]
NodeId=5
hostname=mysqld2
